@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.EntityFrameworkCore
@inject IViewLocalizer Localizer
@model RequestViewModel

@{
    ViewData["Title"] = "Form";
}

<div class="header-container">

    <div class="header__head form-header-padding">

        <div class="header_top-elements-container">

            <div class=header__slogan-container>
                <p class="slogan-text">
                    @Localizer["slogen"]
                </p>
            </div>

            <a asp-controller="Home" asp-action="Index">
                <div class=header__logos-container>
                    <img src="/public/navbar_logo.png" alt="rc logo" width="154.3" height="45">
                </div>
            </a>

            <form asp-controller="Culture" asp-action="ToggleCulture" asp-route-returnUrl="@Context.Request.Path" method="post"
                  class="header__lang-switch-container">
                <button type="submit" class="header__lang-switch-container">
                    @if (Thread.CurrentThread.CurrentCulture.Name == "ar")
                    {
                    <p class="lang-switch-text">EN</p>
                    }
                    else
                    {
                    <div class="lang-switch-text">
                        ع
                    </div>
                    }
                    <div class="lang-switch-icon">
                        <img src="/public/lang.svg" alt="lang icon" width="18.3" height="18">
                    </div>
                </button>
            </form>
        </div>
    </div>
</div>


<div class="form-root-container">
    <form method="post" class="form-container">
        <div asp-validation-summary="All"></div>

        <div class="form__super-title-container">
            <h1 class="form__super-title-text">@Localizer["formTitle"]</h1>
        </div>
        <div class="form__section-container">
            <div class="form__sextion-title-container">
                <h3 class="form__section-title-text"> @Localizer["formSubSextion1"]</h3>
            </div>

            <div class="form__inputs-container">
                <div class="form__input-container">
                    <label class="form__label-text">@Localizer["labelName1"]</label>
                    <input class="form__input" type="text" name="" id="" asp-for="FullNameInArabic">
                </div>

                <div class="form__input-container">
                    <label class="form__label-text">@Localizer["labelName2"]</label>
                    <input class="form__input" type="text" name="" id="">
                </div>

                <div class="form__input-container">
                    <label class="form__label-text">@Localizer["labelPhone"]</label>
                    <input class="form__input" type="text" name="" id="">
                </div>

                <div class="form__input-container">
                    <label class="form__label-text">@Localizer["labelDate1"]</label>
                    <input class="form__input" type="text" name="" id="">
                </div>
                <div class="form__input-container">
                    <label class="form__label-text">@Localizer["labelEmail"]</label>
                    <input class="form__input" type="text" name="" id="">
                </div>

                <div class="form__input-container">
                    <label class="form__label-text">@Localizer["labelNat"]</label>
                    <input class="form__input" type="text" name="" id="">
                </div>


            </div>


        </div>

        <div class="form__section-container">
            <div class="form__sextion-title-container">
                <h3 class="form__section-title-text">@Localizer["formSubSextion2"]</h3>
            </div>

            <div class="form__inputs-container">
                <div class="form__input-container">
                    <label class="form__label-text">@Localizer["label1"]</label>
                    <input class="form__input" type="text" name="" id="">
                </div>

                <div class="form__input-container">
                    <label class="form__label-text">@Localizer["label2"]</label>
                    <input class="form__input" type="text" name="" id="">
                </div>

                <div class="form__input-container">
                    <label class="form__label-text">@Localizer["labelName3"]</label>
                    <textarea class="form__input"></textarea>
                </div>

                <div class="form__input-container">
                    <label class="form__label-text">@Localizer["labelName4"]</label>
                    <input class="form__input" type="text" name="" id="">
                </div>


            </div>


        </div>

        <div class="form__section-container">
            <div class="form__terms-container">
                <div class="form__containers-1-container">
                    <input type="checkbox">
                    <h4 class="form__label-text">@Localizer["conditions1"]</h4>
                </div>

                <div class="form__containers-1-container">
                    <input type="checkbox">
                    <h4 class="form__label-text">@Localizer["conditions2"]</h4>
                </div>
            </div>
        </div>


        <div class="form__submit-container">
            <input class="form__submit" type="submit" name="" id="" value="@Localizer["submit"]">
        </div>

    </form>
</div>
